@import "bootstrap-sprockets";
@import "bootstrap";

 body{
   font-family:'arial';
   background-color: #fafafa;
 }

 .login {
     background-color: #fbfbfb;
     width: 30%;
     min-height: 400px;
     margin: 0 auto;
     padding: 10px 30px;
     color: #555555;
     margin-top: 50px;
     border-radius: 5px;
     box-shadow: 3px 2px 19px #e1dfdf;
 }

 .login h2{
   text-transform: uppercase;
   color: #3e3d3d;
 }

 .login .field{
   font-size: 22px;
   margin-top: 25px;
   text-align: left;
 }

  .login .field input[type="email"],
  .login .field input[type="password"]{
    padding:5px 10px;
    color: #55555;
    font-size: 18px;
    border-radius: 10px;
  }

  .login .actions input[type="submit"]{
    padding:10px 25px;
    background-color: #276be7;
    color: white;
    border: none;
    border-radius:10px;
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .header{
    background-color: white;
    height: 100px;
    margin-bottom: 30px;
    border-bottom: 1px solid #e4e4e4;
  }

  .header h1{
    padding-left: 30px;
  }

  .logo{
    text-decoration: none!important;
    color:inherit;
  }

  .header input{
    margin-top:30px;
  }

  .header a{
    padding-top: 30px;
    padding-right: 50px;
  }

  .logo{
    width: 100px;
  }

  .search{
    margin-top:25px;
  }

  img{
    width:100%;
  }

  .small img {
    max-height: 160px;
  }

  .post .comment{
    margin-top: 15px;
  }

  .preview-image{
    width:80%;
  }

  .thumb{
    width: 100%;
  }
